DEEP_RESEARCH_API_URL="http://tongyi-api-server"
OPENAI_API_KEY=""
OPENAI_API_BASE=""

WALLET_PRIVATE_KEY=""
PROVIDER_URL="https://polygon-mainnet.g.alchemy.com/v2/<ALCHEMY_API_KEY>"
AGGREGATOR_PARTNER=""
AGGREGATOR_AFFILIATE_FEE_RECIPIENT=""

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="ydc_hackathon"

DB_PORT=5432
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${DB_PORT}/${POSTGRES_DB}"